apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: environment
                operator: In
                values:
                 - uat
      imagePullSecrets:
        - name: dockersecret-1
      containers:
        - name: my-app
          image: {{ .Values.image.repository }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: registry-cert
              mountPath: "/etc/pki/ca-trust/source/anchors"
              readOnly: true
      volumes:
        - name: registry-cert
          secret:
           secretName: registry-cert-secret
